@use 'variables';

body {
    background-color: variables.$mainColor;
}

h1 {
    color: variables.$titleColor;
}

form {
    color: variables.$formColor;
    max-width: 600px;
    width: 100%;
}

form button {
    cursor: pointer;
    font-weight: bold;
}